<div class="details">
    <div>Title : {{title}}</div>
    <div>Artist : {{artist_name}}</div>
    <div>Duration : {{duration}}</div>
    <div>Year : {{year}}</div>
    <br>

    <div>Country : {{artist_location}}</div>
</div>