<div class="details">
    <div>Title : {{title}}</div>
    <div>Artist : {{artist_name}}</div>
    <div>Duration : {{duration}}</div>
    <div>Year : {{year}}</div>
    <br>
    <div>City : {{city}}</div>
    <div>Country : {{country}}</div>
</div>