<section>
    <h1>my list</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec massa et nisl porttitor vestibulum.
        Integer eu enim lacus. Maecenas ante augue, rutrum sit amet malesuada nec, semper vel dolor. Praesent
        aliquet congue auctor. Aenean bibendum euismod erat quis laoreet. Curabitur et quam non urna congue semper
        at eget neque. Aliquam augue felis, ornare id condimentum et, porttitor sed diam. </p>
    <br>

    <table id="items-table" class="tablesorter">
        <thead>
        <tr>
            <th>Artist name</th>
            <th>Song name</th>
            <th>Song duration</th>
            <th>Song year</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</section>