<section>
    <h1>Search for Music</h1>

    <p>Jelly beans jujubes cookie pudding apple pie bear claw. Powder gummies liquorice jelly-o candy. Dragée candy cake
        gummi bears croissant biscuit. Caramels bonbon bonbon macaroon. Pie apple pie chocolate sweet sweet gummi bears
        chocolate cake. Tiramisu jelly beans ice cream carrot cake dragée. Halvah wafer jelly. Pudding macaroon brownie
        candy oat cake candy icing. Lollipop apple pie gummies sugar plum jelly-o. Topping faworki liquorice pudding
        halvah tiramisu. Toffee icing icing chupa chups halvah. Icing sweet roll chupa chups jujubes. Cake jelly-o
        biscuit sweet.</p>
    <br>

    <div class="searchbar">
        <form id="searchForm" class="search-form">
            <input name="title" type="text" placeholder="Title"/>
            <input name="artist_name" type="text" placeholder="Artist"/>
            <button type="submit">Search</button>
        </form>
        <div class="search-infos" style="display: none;">
            <span id="nbResults">0</span> result(s) displayed
            <div class="prev" title="Previous page"></div>
            <div class="page-wrapper">page <span id="page">1</span></div>
            <div class="next" title="Next page"></div>
        </div>
    </div>

    <div id="mapCanvas" style="display: none;"></div>

    <ul id="results" class="results"></ul>

</section>