<tr>
    <td>{{artist_name}}</td>
    <td><a href="#details/{{_id}}" title="See details">{{title}}</a></td>
    <td>{{duration}}</td>
    <td>{{#year}}{{year}}{{/year}}{{^year}}Unknown{{/year}}</td>
</tr>