<div id="artist_details">
    <div class="blue-button details-back">Go back</div>
    <section>
        <h2>Artist Details</h2>

        <div class="description">
            <div class="music"></div>
            <div>Name : <strong>{{artist_name}}</strong></div>
            <br>

            <div>Artist location : {{artist_location}}</div>
            <div>Artist terms :
                <ul class="music-styles">{{#artist_terms}}
                    <li>{{.}}</li>{{/artist_terms}}</ul>
            </div>
            <div id="heatmapArea"/>
        </div>
    </section>
    <aside>
        <h2>ASIDE</h2>
    </aside>
</div>