<section>
    <h2>Search for Music</h2>

    <div class="searchbar">
        <form id="searchForm" class="search-form">
            <input name="artist_name" type="text" placeholder="Artist"/>
            <button class="blue-button" type="submit">Search</button>
        </form>
        <div class="search-infos" style="display: none;">
            <span id="nbResults">0</span> result(s) displayed
            <div class="prev" title="Previous page"></div>
            <div class="page-wrapper">page <span id="page">1</span></div>
            <div class="next" title="Next page"></div>
        </div>
    </div>

    <div id="mapCanvas" style="display: none;"></div>

    <ul id="results" class="results"></ul>

</section>