<section>
    <h2>Sign up in Yawyl</h2>

    <form class="signup">
        <input name="mail" type="email" placeholder="Email"/>
        <input name="username" type="text" placeholder="Username"/>
        <input name="city" type="text" placeholder="City"/>
        <input name="country" type="text" placeholder="Country"/>
        <button class="blue-button" type="submit">Create account</button>
    </form>

</section>