<section class="inner">
    <div id="signupForm"></div>
</section>

<section>
    <div class="topArtists">
        <div class="inner">
            <div class="topArtistsHead">
                <h1>Top artists</h1>
            </div>
            <ul class="artist-thumbs">
                <li>
                    <a class="thumb">
                        <img src="img/artist1.jpg" alt="">
                        <span> </span>
                    </a>
                    <h4>EL-P</h4>
                </li>
                <li>
                    <a class="thumb">
                        <img src="img/artist2.jpg" alt="">
                        <span> </span>
                    </a>
                    <h4>Gay tribe</h4>
                </li>
                <li>
                    <a class="thumb">
                        <img src="img/artist3.jpg" alt="">
                        <span> </span>
                    </a>
                    <h4>TV On The Radio</h4>
                </li>
                <li>
                    <a class="thumb">
                        <img src="img/artist4.jpg" alt="">
                        <span> </span>
                    </a>
                    <h4>Pilou Man</h4>
                </li>
            </ul>
        </div>
    </div>
</section>

<section>
    <div class="inner">
        <div class="topArtistsHead">
            <h1>Top badges</h1>
        </div>
        <div class="badges">
            <div class="cell">
                <img src="img/badge1.png" alt="">
            </div>
            <div class="cell">
                <img src="img/badge2.png" alt="">
            </div>
            <div class="cell">
                <img src="img/badge3.png" alt="">
            </div>
            <div class="cell">
                <img src="img/badge4.png" alt="">
            </div>
            <div class="cell">
                <img src="img/badge5.png" alt="">
            </div>
            <div class="cell">
                <img src="img/badge6.png" alt="">
            </div>
            <div class="cell">
                <img src="img/badge6.png" alt="">
            </div>
            <div class="cell">
                <img src="img/badge5.png" alt="">
            </div>
            <div class="cell">
                <img src="img/badge4.png" alt="">
            </div>
            <div class="cell">
                <img src="img/badge3.png" alt="">
            </div>
            <div class="cell">
                <img src="img/badge2.png" alt="">
            </div>
            <div class="cell">
                <img src="img/badge1.png" alt="">
            </div>
            <div class="cell">
                <img src="img/badge1.png" alt="">
            </div>
            <div class="cell">
                <img src="img/badge2.png" alt="">
            </div>
            <div class="cell">
                <img src="img/badge3.png" alt="">
            </div>
            <div class="cell">
                <img src="img/badge4.png" alt="">
            </div>
            <div class="cell">
                <img src="img/badge5.png" alt="">
            </div>
            <div class="cell">
                <img src="img/badge6.png" alt="">
            </div
        </div>
    </div>
</section>